{% extends 'main.html' %}

{% block content %}

{% load static %}
<main class="layout layout--3">
    <div class="container">
        <!-- Topics Start -->
        {% include 'sidebar.html' %}
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
            <div class="mobile-menu">
                <form class="header__search" method="GET" action="{% url 'user-home' %}">
                    <label>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <title>search</title>
                            <path
                                d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
                            </path>
                        </svg>
                        <input name="q" placeholder="Search for users" />
                    </label>
                </form>
                <div class="mobile-menuItems">
                    <a class="btn btn--main btn--pill" href="{% url 'menu' %}">MENU</a>
                    <!-- <a class="btn btn--main btn--pill" href="#">Recent Activities</a> -->
                </div>
            </div>

            <div class="roomList__header">
                <div>
                    <h2>USER LIST</h2>
                    <p>{{user_count}} Total User(s)</p>
                </div>
                <a class="btn btn--main" href="{% url 'create-users' %}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <title>Add</title>
                        <path
                            d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z">
                        </path>
                    </svg>
                    Create User
                </a>
            </div>
            {% for user in user_list %}
            <div class="roomListRoom">
                <div class="roomListRoom__header">
                    <a href="#" class="roomListRoom__author">
                        <div class="avatar avatar--small active">
                            <img src="{% static 'images/avatar.svg' %}" />
                        </div>
                        <span>@{{user.username}}</span>
                    </a>
                    <div class="roomListRoom__actions">
                        <span>{{user.date_joined|date}} ({{user.date_joined|timesince}} ago)</span>
                    </div>
                </div>
                <div class="roomListRoom__content">
                    <a href="#">{{user.username}}</a>
                    {% if request.user.is_superuser %}
                    <a style="float:right" href="{% url 'delete-users' user.id %}">Delete</a>
                    <a style="float:right" href="{% url 'update-users' user.id %}">Edit&emsp;</a>
                    {% endif %}
                </div>
                <div class="roomListRoom__meta">
                    <a href="#" class="roomListRoom__joined">
                    </a>
                    <p class="roomListRoom__topic">Last Login: {{user.last_login}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Room List End -->
    </div>
</main>

{% endblock%}